In [1]:
print("hello world")

hello world

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('salaries.csv')  # Replace 'dataset.csv' with the filename of your dataset

# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

# Check the shape of the dataset
print("\nShape of the dataset:")
print(df.shape)

# Check for missing values
print("\nMissing values in the dataset:")
print(df.isnull().sum())

# Summary statistics
print("\nSummary statistics of numerical columns:")
print(df.describe())

# Perform some data manipulations using Pandas and NumPy
# For example, calculate the mean of a numerical column
mean_value = np.mean(df['numerical_column'])
print(f"\nMean value of 'numerical_column': {mean_value}")

First few rows of the dataset:
   work_year experience_level employment_type             job_title  salary  \
0       2024               MI              FT        Data Scientist  120000
1       2024               MI              FT        Data Scientist   70000
2       2024               MI              CT        Data Scientist  130000
3       2024               MI              CT        Data Scientist  110000
4       2024               MI              FT  Data Science Manager  240000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         120000                 AU             0
1             USD          70000                 AU             0
2             USD         130000                 US             0
3             USD         110000                 US             0
4             USD         240000                 US             0

  company_location company_size
0               AU            S
1               AU            S
2               US            M
3               US            M
4               US            M

Shape of the dataset:
(16494, 11)

Missing values in the dataset:
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

Summary statistics of numerical columns:
          work_year        salary  salary_in_usd  remote_ratio
count  16494.000000  1.649400e+04   16494.000000  16494.000000
mean    2023.224991  1.637878e+05  149713.575725     32.044986
std        0.713405  3.406017e+05   68516.136918     46.260201
min     2020.000000  1.400000e+04   15000.000000      0.000000
25%     2023.000000  1.020000e+05  101517.500000      0.000000
50%     2023.000000  1.422000e+05  141300.000000      0.000000
75%     2024.000000  1.873422e+05  185900.000000    100.000000
max     2024.000000  3.040000e+07  800000.000000    100.000000

<class 'KeyError'>: 'numerical_column'